html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Times New Roman", Times, serif;
  background-color: #750505;
  color: wheat;
  min-height: 100vh;
}
header {
  background-color: #750505;
  text-align: center;
  margin: 0;
  padding: 5px 0;
}
#title {
  font-family: "Times New Roman", Times, serif;
  color: wheat;
  text-align: center;
  font-size: xx-large;
  margin: 0;
}

#catchy-phrase {
  font-family: "Times New Roman", Times, serif;
  color: wheat;
  text-align: center;
  font-size: x-large;
}

main {
  background-color: #750505;
  color: wheat;
  margin: 0%;
  padding: 0%;
  display: flexbox;
}
#recipe-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 20px;
}

.recipe {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 auto;
}

.search-container {
  background-color: #750505;
  padding: 15px;
  width: 70%;
  text-align: center;
  border-radius: 10px;
  margin: 0 auto;
}

#search-input {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 25px;
  background-color: wheat;
  color: #750505;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
}
#search-input::placeholder {
  color: #750505;
  opacity: 0.8;
}

#search-button {
  padding: 10px 25px;
  background-color: wheat;
  color: #750505;
  border: none;
  border-radius: 25px;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#search-button:hover {
  background-color: #e6d5b8;
  transform: translateY(-2px);
}

.add-recipe-form {
    background-color:rgba(52, 2, 2, 0.1);
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 600px;
}

#recipe-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#recipe-form-input, #recipe-form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    font-family: 'Times New Roman', Times, serif;
}

#recipe-form textarea {
    min-height: 100px;
}

#recipe-form button{
    background-color: #750505;
    color: wheat;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.like-button {
  color: wheat;
  display: contents;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}