html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
  font-family: "Times New Roman", Times, serif;
  background-color: #750505;
  color: wheat;
  min-height: 100vh; 
}
#title {
  font-family: "Times New Roman", Times, serif;
  color: wheat;
  text-align: center;
  font-size: xx-large;
}
header {
  background-color: #750505;
  margin: 0%;
  padding: 0%;
  border-radius: 0%;
}
#catchy-phrase {
  font-family: "Times New Roman", Times, serif;
  color: wheat;
  text-align: center;
  font-size: x-large;
}

main {
    background-color: #750505;
    color: wheat;
    margin: 0%;
    padding: 0%; 
    display: flexbox;
}
#recipe-container {
  max-width: 350px;
  margin: 0 auto;
  display: contents;
  background-color: #750505;
}
img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}
